<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.renesas.cdt.launch.debug.launchConfigurationType">
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Release\Kryptos.x"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Kryptos"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.renesas.cdt.rxc.release.win32.configuration.Id.515046846"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kryptos"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
